/* Custom styles for the portfolio website */
body, html {
    height: 100%;
    margin: 0;
}

/* Adjust the below styles according to your preference */
.main-content {
    padding: 20px;
}


/* You might want to add specific styles for your sections here */
.carousel-captions {
    text-align: center;
    margin-top: 20px;
}

.carousel-captions .caption {
    display: none;
    font-size: 16px; /* Adjust font size as needed */
}

.carousel-captions .caption.active {
    display: block;
}
.carousel-item {
    text-align: center;
}

.item-caption {
    display: block;
    margin-top: 20px; /* Adjust based on your design */
    color: #FFF; /* Adjust caption text color as needed */
}
